 App.css

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 200px;
  
}

.messageContainer {
  flex-grow: 1;
  padding: 16px;
  
  
  
}

.messagePaper {
  padding: 16px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.inputBar {
  padding: 16px;
  overflow-y: auto;
  
}
